In [1]:
# load the data set
data = read.csv('./data/loan.csv')
# Q1 = read.csv('./data/LoanStats_2016Q1.csv')
# Q2 = read.csv('./data/LoanStats_2016Q2.csv')
# Q3 = read.csv('./data/LoanStats_2016Q3.csv')
# Q4 = read.csv('./data/LoanStats_2016Q4.csv')

# get brief information
head(data)
dim(data)

  id      member_id loan_amnt funded_amnt funded_amnt_inv term       int_rate
1 1077501 1296599    5000      5000        4975            36 months 10.65
2 1077430 1314167    2500      2500        2500            60 months 15.27
3 1077175 1313524    2400      2400        2400            36 months 15.96
4 1076863 1277178   10000     10000       10000            36 months 13.49
5 1075358 1311748    3000      3000        3000            60 months 12.69
6 1075269 1311441    5000      5000        5000            36 months  7.90
  installment grade sub_grade ⋯ total_bal_il il_util open_rv_12m open_rv_24m
1 162.87      B     B2        ⋯ NA           NA      NA          NA
2  59.83      C     C4        ⋯ NA           NA      NA          NA
3  84.33      C     C5        ⋯ NA           NA      NA          NA
4 339.31      C     C1        ⋯ NA           NA      NA          NA
5  67.79      B     B5        ⋯ NA           NA      NA          NA
6 156.46      A     A4        ⋯ NA           NA      NA          NA
  max_bal_bc all_util total_rev_hi_lim inq_fi total_cu_tl inq_last_12m
1 NA         NA       NA               NA     NA          NA
2 NA         NA       NA               NA     NA          NA
3 NA         NA       NA               NA     NA          NA
4 NA         NA       NA               NA     NA          NA
5 NA         NA       NA               NA     NA          NA
6 NA         NA       NA               NA     NA          NA

[1] 887379     74

In [2]:
# compute the number of missing values in each column
num.NA = colSums(apply(data, 2, is.na))
data.type = sapply(data[, names(which(num.NA != 0))], class)
cbind(num.NA[num.NA > 0], data.type)

                                   data.type
annual_inc                  4      numeric
delinq_2yrs                 29     numeric
inq_last_6mths              29     numeric
mths_since_last_delinq      454312 numeric
mths_since_last_record      750326 numeric
open_acc                    29     numeric
pub_rec                     29     numeric
revol_util                  502    numeric
total_acc                   29     numeric
collections_12_mths_ex_med  145    numeric
mths_since_last_major_derog 665676 numeric
annual_inc_joint            886868 numeric
dti_joint                   886870 numeric
acc_now_delinq              29     numeric
tot_coll_amt                70276  numeric
tot_cur_bal                 70276  numeric
open_acc_6m                 866007 numeric
open_il_6m                  866007 numeric
open_il_12m                 866007 numeric
open_il_24m                 866007 numeric
mths_since_rcnt_il          866569 numeric
total_bal_il                866007 numeric
il_util                     868762 numeric
open_rv_12m                 866007 numeric
open_rv_24m                 866007 numeric
max_bal_bc                  866007 numeric
all_util                    866007 numeric
total_rev_hi_lim            70276  numeric
inq_fi                      866007 numeric
total_cu_tl                 866007 numeric
inq_last_12m                866007 numeric

In [3]:
# drop useless columns
drop.names = c("mths_since_last_delinq", "mths_since_last_record", "mths_since_last_major_derog", 
               "annual_inc_joint", "dti_joint", "open_acc_6m", "open_il_6m", "open_il_12m", 
               "open_il_24m", "mths_since_rcnt_il", "total_bal_il", "il_util", "open_rv_12m", 
               "open_rv_24m", "max_bal_bc", "all_util", "inq_fi", "total_cu_tl", "inq_last_12m")
data = data[, !(names(data) %in% drop.names)]
dim(data)

[1] 887379     55

In [4]:
# compute the number of missing values in each column
num.NA = colSums(apply(data, 2, is.na))
data.type = sapply(data[, names(which(num.NA != 0))], class)
cbind(num.NA[num.NA > 0], data.type)

                                 data.type
annual_inc                 4     numeric
delinq_2yrs                29    numeric
inq_last_6mths             29    numeric
open_acc                   29    numeric
pub_rec                    29    numeric
revol_util                 502   numeric
total_acc                  29    numeric
collections_12_mths_ex_med 145   numeric
acc_now_delinq             29    numeric
tot_coll_amt               70276 numeric
tot_cur_bal                70276 numeric
total_rev_hi_lim           70276 numeric